extends layout

block content
    #header
        h1
            | Jolly
        h3
            | Simple and Graceful Web Chating Lab
    #errorPage.page(style='display: none;')
        h1
            | 当前浏览器不支持WebSocket，请使用chrome or opera or firefox 18
    #prePage
      input#nickInput(type='text', placeholder='请输入您的昵称')
      input#open.btn(type='button',value='进入聊天室')
    #mainPage.page(style='display:none;')
        div(style='overflow: hidden;')
        .talkLeft
            #talkFrame
            #inputDiv
            textarea#message(row='3',placeholder='嗨，随便说点啥呗,支持HTML代码')

            div(style='overflow: hidden;')
                input#createroom.btn(type='button', value='加入大众视频聊天室')
                input#send.btn.btn-success(type='button', value='发送')
        .talkRight
            #onlineUsers 
