extends layout

block content
    #header
        h1
            | Free WebRTC Chating Room !
    #errorPage.page(style='display: none;')
        h1
            | 当前浏览器不支持WebSocket，请使用chrome or opera or firefox 18
    #prePage.page(style='width: 690px; text-align: center;')
      input#nickInput(type='text', placeholder='请输入您的昵称')
      input#open.btn(type='button',value='进入聊天室')
    #mainPage.page(style='display:none;')
        div(style='overflow: hidden;')
        .talkLeft
            #talkFrame
            #inputDiv
            textarea#message(placeholder='嗨，随便说点啥呗')
            div(style='overflow: hidden;')
                input#createroom.btn(type='button', value='创建聊天室')
                input#send.btn.btn-success(type='button', value='发送')
        .talkRight
            #onlineUsers 
            div(style='text-align: center;')
                a(style='color: blue;', target='_blank', href='https://github.com/zsj2145676') 获取源码
