doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='bootstrap/docs/assets/css/bootstrap-responsive.css')
    script(type="text/javascript", src="javascripts/chatLib.js")
    script(type="text/javascript", src="javascripts/zTool.js")
    script(type="text/javascript", src="jquery/jquery.min.js")
    script(type="text/javascript", src="javascripts/DateUtil.js")
    script(type="text/javascript", src="javascripts/chat.js")
    script(type="text/javascript", src="javascripts/cufon-yui.js")
    script(type="text/javascript", src="javascripts/brokenrecords_400.font.js")  
    script(type="text/javascript", src="javascripts/jquery.rte.js")  

  body
    block content